<ng-container *ngFor="let s of allScalesNames">
  <ng-container *ngFor="let n of allNotesNames">
      <button (click)="changeScale(s, n)">{{s}} {{n}}</button>
  </ng-container>
</ng-container>
<div class="octaves-container noselect">
  <div class="octave-container" *ngFor="let o of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <div [ngStyle]="{'background-color': colors[o] }" class="key" *ngFor="let n of notesNames" (click)="play(n, o)" (mouseover)="playIfClicked(n, o)">
      <div>{{n}}</div>
    </div>
  </div>
</div>
