Scale :
<select (change)="onScaleOrNoteChange()" [(ngModel)]="currentScale">
  <option *ngFor="let s of allScalesNames" value="{{s}}">{{s}}</option>
</select>

Note :
<select (change)="onScaleOrNoteChange()" [(ngModel)]="currentNote">
  <option *ngFor="let n of allNotesNames" value="{{n}}">{{n}}</option>
</select>

Oscillator Type :
<select (change)="onOscillatorTypeChange()" [(ngModel)]="currentType">
  <option *ngFor="let o of allOscillatorType" value="{{o}}">{{o}}</option>
</select>

Time :
<input type="range" min="0" max="2" [(ngModel)]="currentTime" (change)="onTimeChange()" step="0.1">

Gain :
<input type="range" min="0" max="50" [(ngModel)]="currentGain" (change)="onGainChange()">

<br/>
Live Frequency :
<input type="range" min="0" max="10000" [(ngModel)]="current?.oscillator.frequency.value">

Live Gain :
<input type="range" min="0" max="10000" [(ngModel)]="current?.gain.value">

<button (click)="playMelody()">Play Melody</button>
<div class="octaves-container noselect">
  <div class="octave-container" *ngFor="let o of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <div [ngStyle]="{'background-color': colors[o] }" class="key" *ngFor="let n of notesNames" (click)="play(n, o)" (mouseover)="playIfClicked(n, o)">
      <div>{{n}}</div>
    </div>
  </div>
</div>
